# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

*.pt

# Virtual environments
.env
.venv/
env/
venv/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.out
*.tmp
*.swp
*.bak

# System files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Data or large files
data/
outputs/
checkpoints/
